.DS_Store
.vscode/
ansible-project/inventory.ini
ansible-project/inventory.generated.ini
# Ignore all Terraform execution states anywhere in the repo
**/*.tfstate
**/*.tfstate.backup

# Ignore all hidden Terraform cache binary directories
**/.terraform/
terraform/main.tf.original
