[defaults]
inventory         = inventory.ini
remote_user       = ubuntu
private_key_file  = ~/.ssh/id_ansible
host_key_checking = False
timeout           = 30
pipelining        = True

[ssh_connection]
ssh_args = -o ProxyCommand="sh -c 'aws ec2-instance-connect send-ssh-public-key --instance-id %n --instance-os-user ubuntu --ssh-public-key file://$HOME/.ssh/id_ansible.pub && aws ec2-instance-connect open-tunnel --instance-id %n'" -o ControlMaster=auto -o ControlPersist=5m -o ControlPath=~/.ansible/cp/%C
control_path_dir = ~/.ansible/cp